:css
  .loading_overlay {
    border: 1px dotted green
    text-align: center;
  }

- content_for :head do
  :javascript
    var stats_browsed_date = "#{(Date.today - 1.month).to_s}";
    function toRubyDate(date) { return [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('-'); }

    analytic_widgets = []
    function refreshAnalytics() {
      for(var i=0, ii = analytic_widgets.length; i < ii; i++) {
        loadAnalyticsAsync.apply(window, analytic_widgets[i]);
      }
    }

    function loadAnalyticsAsync(table_id, render_graph) {
      var table = $("#" + table_id);
      var url = table.attr('rel') + "?since=" + stats_browsed_date;
      console.log("loading ", table_id, "with URL", url);
      $.get(url, {}, function(data, status, xhr){
        $('.loading_overlay', table.parent('.chart')).hide();
        console.log("Received response:", url, status, table);
        console.log("table !:", table);
        $('tbody', table).remove();
        table.append(data);
        console.log("render_graph:", render_graph);
        if(render_graph) {
          drawTimeSeries(table);
        }
      });
    }

- %w(visitors tweets fb_page_views fb_page_likes).each do |rep_title|
  - report_id = rep_title + "_data"
  - if rep_title=='tweets'
    .chart{:class => 'tweet-reach'}
      %h3 
        = ttt :'.tweet_reach'
        %span= number_with_delimiter(@tweet_reach)
    .chart{:class => 'tweet-exposure'}
      %h3 
        = ttt :'.tweet_exposure'
        %span= number_with_delimiter(@tweet_exposure)
    .clear

  - if rep_title=='fb_page_views'
    - if @fb_page_views
      .chart{:class => 'fb-page-views'}
        %h3 
          #{ttt(:".fb_page_total_views")}: 
          %span= number_with_delimiter(@fb_page_views.data.first.values[3].sum{|h| h['value'].to_i})
    - if @fb_page_likes
      .chart{:class => 'fb-page-likes'}
        %h3 
          #{ttt(:".fb_page_total_likes")}: 
          %span= number_with_delimiter(@fb_page_likes.data.first.values[3].sum{|h| h['value'].to_i})
    .clear

  .chart{:class => rep_title}
    %h3= ttt(".#{rep_title}")
    %div.loading.loading_overlay
      %br
      %center #{image_tag("admin/dashboard-indicator.gif")}
    .graph_canvas{:id => "#{rep_title}_graph"}
    %table.graph_data{:id => report_id, :rel => admin_analytics_data_path(:report => rep_title)}
      %thead
        %tr
          %th= ttt(:value)
          %th #
      - content_for :head do
        :javascript
          // $(function(){ loadAnalyticsAsync("#{report_id}", true); })
          window.analytic_widgets.push(["#{report_id}", true]);

- %w(top_referrers top_landing_pages).each do |rep_title|
  - report_id = rep_title + "_data"
  .chart{:class => rep_title}
    %h3= ttt(".#{rep_title}")
    %table{:id => report_id, :rel => admin_analytics_data_path(:report => rep_title)}
      %thead
        %tr
          %th= ttt(:value)
          %th #
    - content_for :head do
      :javascript
        // $(function(){ loadAnalyticsAsync("#{report_id}", false); })
        window.analytic_widgets.push(["#{report_id}", false]);

:javascript
  $(refreshAnalytics);