%h2 Search results for '#{@query}'

- %w(posts pages).each do |key|
  - records = @results[key.to_sym]
  - span = key=="pages" ? 5 : 6
  %div{ :class => "search-results span-#{span}", :id => "#{key}_results" }
    %h3= pluralize records.total_entries, ttt(key.singularize)
    - if records.empty?
      %p #{ttt(:'.no_results_found').html_safe}
    - else
      = render :partial => 'admin/atreides/posts/archives', :locals => { :collection => records }