= render :partial => "atreides/admin/content_nav"

- today = Date.today
- @date ||= today
- content_for :sidebar do
  %ul.summary
    %li.divider
    %li= pluralize Atreides::Post.published.count, 'Post'
    %li= link_to ttt(:'.published'), admin_posts_path
    %li= link_to ttt(:'.drafts'), filter_admin_posts_path(:state => 'drafted')
    - if params[:state].blank?
      %li.divider
      %li Filter:
      %li
        Month:
        =select_tag "archive_month", options_for_select(Date::MONTHNAMES.map{|m| [m, Date::MONTHNAMES.index(m)]}, @date.month), :onchange => "window.location = '#{filter_admin_posts_path(:state => params[:state] || 'published')}?&month='+this.value+'&year='+$('#archive_year').val()"
      %li
        Year:
        =select_tag "archive_year", options_for_select((today.year-5..today.year).to_a.reverse, @date.year), :onchange => "window.location = '#{filter_admin_posts_path(:state => params[:state] || 'published')}?year='+this.value+'&month='+$('#archive_month').val()"

%h2
  Archives: #{ttt :'.x_posts', :count => collection.size}

= render :partial => 'admin/atreides/posts/archives'
