%h2= ttt(:'.please_login')

= semantic_form_for resource, :url => admin_user_sessions_path do |form|
  #form_content{:class => "span-10"}
    - form.inputs do
      = form.input :email, :label => ttt(:'.email'), :input_html => { :class => "title" }
      = form.input :password, :input_html => { :class => "title" }
  
    - form.buttons do
      = form.commit_button ttt(:'.login')