= render :partial => 'admin/edit_head_content'
= semantic_form_for resource, :url => (resource.new_record? ? admin_features_path : admin_feature_path(resource)), :as => "feature" do |f|

  #form_content{:class => "span-17"}
    %h2= ttt("#{params[:action].to_s}_feature").html_safe
    = error_messages_for :resource, :header_message => ttt(:validation_error_header, :model => resource.class.to_s.demodulize),  :message => ttt(:validation_error_message)
    = f.semantic_errors
    = f.inputs do
      = f.input :title, :input_html => { :class => "title" }
      %li.photos-upload
        %label #{ttt :'.photo'}
        = multi_file_uploader(:url => admin_feature_photo_path((resource.new_record? ? '-' : resource), :format => :js), :css_parent_class => "photos-upload", :resource_type => "feature")
        .clear
      %li.photos-choose
        %label #{ttt :'.existing_post'}
        = hidden_field :feature, :post_id
        = link_to_function ttt(:'.choose'), remote_function(:url => admin_posts_path(:format => :js), :type => :get, :success => "$('#feature_post_browser').toggle(); ")
        .clear
      %li.photo
        #feature_photo.media-list
          %ul#feature_photo_ul
            - if resource.photo
              = photo_for_assoc(resource.photo, resource, "photos_list")
            - elsif resource.post && resource.video
              = image_tag resource.video.thumb_url

        #feature_post_browser{:style => 'display:none;'}
          .close= link_to_function 'close', "$('#feature_post_browser').hide();$(this).find('.archives').remove()"
          %label #{ttt :'.choose_a_post'}
          #pagination

      = f.input :caption, :label => ttt(:'.caption'), :as => 'text', :input_html => { :style => "height:10em;" }
      = f.input :url, :label => ttt(:'.url'), :input_html => { :class => "title" }

    = f.actions do
      = f.action :submit, :as => :button, :label => ttt(:save)
      %li.cancel
        = link_to ttt(:back), admin_features_path, :class => "cancel"
      %li.delete
        = link_to ttt(:delete), admin_feature_path(resource), :class => "cancel", :confirm => ttt(:are_you_absolutely_sure), :method => "delete" unless resource.new_record?

  #form_sidebar{:class => "sidebar span-6 last"}
    = f.inputs do
      = render(:partial => "/admin/atreides/common/sidebar_publish", :locals => {:f => f})

      - if defined?(Settings.tags.posts.features)
        %li{:class => "features-tag-group tag-picker"}
          %label #{ttt :'.location'}
          %ul
            - Settings.tags.posts.features.each do |tag|
              %li.machine_tag.feature_tag{:class => resource.tag_list.include?(tag) ? "selected" : "" }
                = radio_button_tag 'feature[tag_list][]', tag, resource.tag_list.include?(tag)
                = tag.humanize.titleize
