= semantic_form_for resource, :url => (resource.new_record? ? admin_pages_path : admin_page_path(resource)), :as => "page" do |f|

  #form_content{:class => "span-17"}
    %h2= ttt("#{params[:action].to_s}_page".downcase)
    = f.semantic_errors
    = f.inputs do
      = f.input :title, :label => ttt(:title), :input_html => { :class => "title" }, :required => true
      %li.add-inline-photo
        = add_inline_photo admin_photos_path(:format => :js)
      = f.input :body, :label => ttt(:body), :as => 'text', :wrapper_html => { :class => "rich-text" }, :input_html => { :style => "height:25em;" }, :required => true

    = f.actions do
      = f.action :submit, :as => :button, :label => ttt(:save)
      %li.commit
        / = link_to_preview
      %li.cancel
        = link_to ttt(:back), admin_pages_path, :class => "cancel"
      %li.delete
        = link_to ttt(:delete), admin_page_path(resource), :class => "cancel", :confirm => "Are you absolutely sure?", :method => "delete" unless params[:action]=="new"

  #form_sidebar{:class => "sidebar span-6 last"}
    = f.inputs do
      = render(:partial => "/admin/atreides/common/sidebar_publish", :locals => {:f => f})
      = f.input :parent_id, :as => "select", :label => ttt(:'.parent'), :wrapper_html => { :class => "parent-picker" }, :collection => Atreides::Page.published.all.map{|p| [p.title, p.id]}
      = f.input :tag_list, :label => ttt(:'.tags'), :as => "text", :wrapper_html => { :class => "tag-picker" }
      = f.input :slug, :label => ttt(:'.custom_url'), :as => "underline", :prefix => "/", :hint => ttt(:".leave_blank_to_create_automatically"), :wrapper_html => { :class => "underlined-input" }

  .clear
