- part ||= resource
- part_uid ||= part.new_record? ? part.object_id : part.id
- photos_list_id  = "photos_list_#{part_uid}"
%li.photos-upload
  %label= ttt(:photos)
  = render(:partial => 'admin/atreides/dropbox/uploader', :locals => { :part_id => (part.id || '-'), :list_id => photos_list_id })
  %span.or or
  = multi_file_uploader(:url => send("admin_#{resource_type.to_s}_part_photos_path", :"#{resource_type.to_s}_id" => (part.contentable_id || '-'), :part_id => (part.id || '-'), :format => :js, :list_id => photos_list_id), :css_parent_class => "photos-upload", :dom_id => "multi_file_uploader_#{part_uid}")
  / - if dropbox_session.authorized?
  /   %p.inline-hints.clear= link_to 'Unlink Dropbox', :admin_dropbox_unlink
  %p.inline-hints.clear= tt('.upload_hint')
%li.photos-display-type
  %label= ttt('.gallery_display')
  - Atreides::ContentPart.display_types.each do |dt|
    %span{:class => "#{dt} #{'selected' if resource.display_type==dt}"}
      = radio_button_tag "#{resource_type.to_s}[parts_attributes][0][display_type]", dt, :title => dt.humanize.titleize
      = image_tag "atreides/admin/photos-display-type-#{dt}.png", :alt => dt.humanize.titleize
      = dt.humanize.titleize
  %p.inline-hints.clear= ttt(:".show_photos_as_a_slideshow_gallery_or_stacked_above_each_other")
%li.clear.photos-list
  = edit_photos_for_assoc(part, photos_list_id)

