- content_for :sidebar do
  #filters.comments-panel-wrapper
    %ul.summary
      %li.new-content
        = link_to "Disqus.com", "http://#{Settings.disqus.forum}.disqus.com/admin/moderate/"

      %li.divider
      %li
        %h3= ttt '.filter'
        = form_tag '', :method => :get, :id => "filter-list", :class => 'formtastic' do
          %ul
            %li.machine_tag
              %label#filter-approved{:for => "show_approved"}
                / Filter's default to "approved"
                - if !params.has_key?(:filter) || params.has_key?(:filter) && params[:filter].include?("approved")
                  %input#show_approved{:checked => "checked", :type => "checkbox", :name => "filter[]", :value => "approved"}/
                - else
                  %input#show_approved{:type => "checkbox", :name => "filter[]", :value => "approved"}/
                = ttt ".approved"
            
            %li.machine_tag
              %label#filter-unapproved{:for => "show_unapproved"}
                - if params.has_key?(:filter) && params[:filter].include?("unapproved")
                  %input#show_unapproved{:checked => "checked", :type => "checkbox", :name => "filter[]", :value => "unapproved"}/
                - else
                  %input#show_unapproved{:type => "checkbox", :name => "filter[]", :value => "unapproved"}/
                = ttt ".unapproved"
            %li.machine_tag
              %label#filter-flagged{:for => "show_flagged"}
                - if params.has_key?(:filter) && params[:filter].include?("flagged")
                  %input#show_flagged{:checked => "checked", :type => "checkbox", :name => "filter[]", :value => "flagged"}/
                - else
                  %input#show_flagged{:type => "checkbox", :name => "filter[]", :value => "flagged"}/
                = ttt ".flagged"
            %li.machine_tag
              %label#filter-spam.hidden{:for => "show_spam"}
                - if params.has_key?(:filter) && params[:filter].include?("spam")
                  %input#show_spam{:checked => "checked", :type => "checkbox", :type => "checkbox", :name => "filter[]", :value => "spam"}/
                - else
                  %input#show_spam{:type => "checkbox", :type => "checkbox", :name => "filter[]", :value => "spam"}/
                = ttt ".spam"
            %li.machine_tag
              %label#filter-deleted.hidden{:for => "show_deleted"}
                - if params.has_key?(:filter) && params[:filter].include?("deleted")
                  %input#show_spam{:checked => "checked", :type => "checkbox", :type => "checkbox", :name => "filter[]", :value => "deleted"}/
                - else
                  %input#show_spam{:type => "checkbox", :type => "checkbox", :name => "filter[]", :value => "deleted"}/
                = ttt ".deleted"
            %li.machine_tag
              %label#filter-button.hidden{:for => "submit_button", :style => "display:none"}
                %input#submit_button{:type => "submit"}
                = ttt ".submit"
            