- self.extend Atreides::ApplicationHelper
!!!
%html
  %head
    %meta{"http-equiv"=>"Content-type", "content"=>"text/html; charset=utf-8"}
    %title #{Settings.app_name}#{": #{@page_title}" if @page_title}
    = csrf_meta_tag
    = include_javascripts :public
    = include_stylesheets :public
    = yield :head
  %body
  .container
    #header
      #nav
        #date=raw Time.zone.now.strftime("<strong>%A</strong>, %B %d, %Y")
        %ul
          %li.home=link_to_unless_current "Home", root_path
          - if defined?(Settings.common_tags)
            %li.diary=link_to_unless_current "Diary", tagged_posts_path(Settings.common_tags.first)

    #body.clear
      #flash_messages= flash_messages

      = yield

    #footer

    / Google analytics
    %script{ :type => "text/javascript" }
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{Settings.ganalytics.code}']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();